@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: Arial;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #5555;
  color: #000;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
  color: #fff;
}